@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~@flaticon/flaticon-uicons/css/all/all';

.bg-gradient-primary {
  background-image: linear-gradient(to top right, #5a3dff 30%, #8e7afc);
  color: white;
}

.bg-gradient-secondary {
  background-image: linear-gradient(to top right, #2ac790 30%, #5ef3bf);
  color: black;
}
/*
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
*/
